body {
    background-color: black;
    color: wheat;
}



.reloj {
    color: white;
    padding: 40px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.26);
    max-width: 1500px;
    max-height: 250px;
    border-radius: 40%;
    border: 1px solid aliceblue;
    border-color: aliceblue;
}

.reloj div {
    font-size: 70px;
    line-height: 70px;
    height: 110px;
    width: 120px; 
    text-align: center;
    display: flex;             
    align-items: center;       
    justify-content: center;   
}

.reloj .relojitoIzquierda {
    margin-right: 75px;
    background-color: transparent;
}

.reloj .relojitoDerecha {
    margin-left: 75px;
    background-color: transparent;
}

.reloj .unidades {
    background: rgba(255, 0, 0, 0.315);
    border-radius: 25%;
    border: 2px solid rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
}


.reloj .decimales {
    background: rgba(38, 0, 255, 0.274);
    border-radius: 25%;
    border: 2px solid rgba(38, 0, 255, 0.8);
    box-shadow: 0 0 15px rgba(38, 0, 255, 0.8);
}


.reloj .centesimas {
    background: rgba(0, 255, 13, 0.274);
    border-radius: 25%;
    border: 2px solid rgba(0, 255, 13, 0.8);
    box-shadow: 0 0 15px rgba(0, 255, 13, 0.8);
}


.reloj .milesimas {
    background: rgba(229, 255, 0, 0.274);
    border-radius: 25%;
    border: 2px solid rgba(229, 255, 0, 0.8);
    box-shadow: 0 0 15px rgba(229, 255, 0, 0.8);
}


.reloj .decenasDeMil {
    background: rgba(255, 0, 140, 0.274);
    border-radius: 25%;
    border: 2px solid rgba(255, 0, 140, 0.8);
    box-shadow: 0 0 15px rgba(255, 0, 140, 0.8);
}


.reloj .centenasDeMil {
    background: rgba(0, 225, 255, 0.274);
    border-radius: 25%;
    border: 2px solid rgb(0, 225, 255);
    box-shadow: 0 0 15px rgba(0, 225, 255, 0.8);
}
